extends ../layouts/default

block main
  h1= title

block content
  table
    thead
      tr
        th Title
        th Description
        th Create Date
        th Image
        th Tags
        th Borrower
        th Actions
    tbody
      - if (medias.length)
        each media in medias
            tr
              td 
                a(href='/medias/'+media._id, title=media.title) #{media.title}
              td
                p= media.body
              td
                p= formatDate(media.createdAt)
              td
                img(src=media.image, alt=media.title, height="42", width="42")
                
              - if (media.tags)
              td
                - each tag in media.tags.split(',')
                  i.muted.fa.fa-tag 
                  a.tag(href="/tags/"+tag)= tag
              td
               p=media.borrowedBy
              
              td
               - if (media.borrowedBy)
                a(href='/medias/'+media._id+'/return', title=media.title) Take
               - if (!media.borrowedBy)
                a(href='/medias/'+media._id+'/borrow', title=media.title) Give

        - if (pages > 1)
          ul.pagination
            != createPagination(pages, page)
      - else
        h4.muted No medias.&nbsp;
          a(href="/medias/new") create one
