extends ../layouts/default

block main
  h1= title

block content
  - if (medias.length)
    - each media in medias
      .media
        h3
          a(href='/medias/'+media._id, title=media.title) #{media.title}
        p= media.body

        .meta
          span.muted= formatDate(media.createdAt)

          - if (media.user)
            | &nbsp; - &nbsp;
            span Author &nbsp;

            - var name = media.user.name ? media.user.name : media.user.username

            a(href="/users/"+media.user._id)= name

          - if (media.tags)
            | &nbsp; - &nbsp;
            span Tags &nbsp;
            - each tag in media.tags.split(',')
              i.muted.fa.fa-tag &nbsp;
              a.tag(href="/tags/"+tag)= tag
              | &nbsp;&nbsp;

    - if (pages > 1)
      ul.pagination
        != createPagination(pages, page)
  - else
    h4.muted No medias.&nbsp;
      a(href="/medias/new") create one
