extends ../layouts/mobile

block main
  h1= title

block content
  - each media in medias
    .media
      h3
        a(href='/medias/'+media._id, title=media.title) #{media.title}
      p= media.body

      .meta.muted
        span= formatDate(media.createdAt)
        | &nbsp; - &nbsp;
        span Author &nbsp;

        - var name = media.user.name ? media.user.name : media.user.username

        a(href="/users/"+media.user._id)= name
        &nbsp; - &nbsp;
        - if (media.tags)
          - each tag in media.tags.split(',')
            | &nbsp;
            a.tag(href="/tags/"+tag)
              i.icon-tags
              |  #{tag}

  - if (pages > 1)
    ul.pagination
      != createPagination(pages, page)
