extends ../layouts/default

block main
  h1= title

block content
  table
    tbody
      - if (medias.length)
        each media in medias
            tr
              td 
                a(href='/medias/'+media._id, title=media.title) #{media.title}
              td
                p= media.body
              td
                p= formatDate(media.createdAt)

              - if (media.tags)
              td
                - each tag in media.tags.split(',')
                  i.muted.fa.fa-tag 
                  a.tag(href="/tags/"+tag)= tag

        - if (pages > 1)
          ul.pagination
            != createPagination(pages, page)
      - else
        h4.muted No medias.&nbsp;
          a(href="/medias/new") create one
