extends ../layouts/default

block main
  h1= media.title

block content
  .row
    .col-md-8
      p=media.body
      .meta
        - if (media.user)
          - var name = media.user.name ? media.user.name : media.user.username
          p Author :&nbsp;
            a(href="/users/"+media.user._id)= name

        - if (media.tags)
          p Tags &nbsp;
            - each tag in media.tags.split(',')
              i.muted.fa.fa-tag &nbsp;
              a.tag(href="/tags/"+tag)= tag
              | &nbsp;&nbsp;

        p Given To : &nbsp;
          span= media.borrowedBy
        p.muted= formatDate(media.createdAt, "%b %d, %Y at %I:%M %p")

    .col-md-4
      img(src=media.image, alt=media.title, height="242", width="242")

  form(action="/medias/"+media.id, method="post", onsubmit="return confirm('Are you sure?')")
    input(type='hidden', name='_csrf', value="#{csrf_token}")
    a.btn.btn-default(href='/medias/'+media._id+'/edit', title="edit") Edit
    | &nbsp;
    input(type="hidden", name="_method", value="DELETE")
    button.btn.btn-danger(type="submit") Delete

  br
  h3 Comments
  - each comment in media.comments
    include ../comments/comment
  include ../comments/form
